html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
}

.addstockbutton {
  margin-top: 20px !important;
}

.fullscreenSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.stockTableContainer {
  width: 75%;
}

.appBody {
  display: flex;
  justify-content: center;
}

.wsbLogo {
  width: 10% !important;
  padding-right: 5px;
  border-radius: 50px;
}

.wsbNavLogo {
  height: 8vh;
  padding: 0px;
  margin: 0px;
  border-radius: 50px;
}

.wsbLoginLogo {
  height: 30% !important;
  border-radius: 50px;
}

.wsbPhraseLogo {
  height: 10vh;
  padding: 0px;
  margin-left: 100px;
}

.blankButton {
  border: none;
  background-color: green;
}

.stock-search-button {
  border-radius: 4px;
  background-color: green;
  border: 0px solid green;
}

.stock-search-button:hover {
  border-radius: 3px;
  background-color: rgb(113, 199, 116);
  border: 0px solid rgb(76, 175, 80);
}

.mainSiteNavBar {
  background-color: green !important;
}

.mainSiteNavBarLink {
  font-size: 1.2rem !important;
}

.mainSiteNavBarLink:hover {
  font-size: 1.2rem !important;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 576px) {
  .wsbLogo {
    width: 5% !important;
  }
  .stockTableCellDesktop {
    display: none;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wsbLogo {
    width: 4% !important;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wsbLogo {
    width: 3% !important;
  }
  .wsbLoginLogo {
    width: 20% !important;
    border-radius: 50px;
  }
  .blankButton {
    display: none;
  }

  .hide-on-desktop {
    display: none;
  }
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wsbLogo {
    width: 3% !important;
  }

  .wsbLoginLogo {
    width: 10% !important;
    border-radius: 50px;
    margin-top: 30px;
  }
  .blankButton {
    display: none;
  }

  .hide-on-desktop {
    display: none;
  }
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}
